#%RAML 1.0
title: Mirage ERP System API
version: v1
baseUri: https://api.mirage.mx/erp/{version}
mediaType: application/json

description: |
  System API que expone el inventario de minisplits del ERP de Mirage.

  **Capa:** system. No contiene lógica de negocio: devuelve el dato crudo del ERP.
  La combinación con cobertura de instalación ocurre en la Process API.

#-------------------------------------------------------------------
# Seguridad
#-------------------------------------------------------------------
securitySchemes:
  client-id-enforcement:
    type: Pass Through
    description: |
      Credenciales emitidas por API Manager al firmar el contrato.
      Se envían en cada petición como cabeceras.
    describedBy:
      headers:
        client_id:
          type: string
          description: Identificador de la aplicación cliente.
          example: 1a2b3c4d5e6f7890abcdef1234567890
        client_secret:
          type: string
          description: Secreto de la aplicación cliente.
          example: 0987654321fedcbaFEDCBA0987654321
      responses:
        401:
          description: Credenciales ausentes o inválidas.

securedBy: [ client-id-enforcement ]

#-------------------------------------------------------------------
# Tipos de datos
#-------------------------------------------------------------------
types:

  Warehouse:
    description: Existencia de un SKU en un almacén concreto.
    type: object
    properties:
      code:
        type: string
        description: Código del almacén en el ERP.
        example: CDMX-01
      name:
        type: string
        description: Nombre legible del almacén.
        example: Centro de distribución Vallejo
      quantity:
        type: integer
        minimum: 0
        description: Unidades disponibles en este almacén.
        example: 9
    example:
      code: CDMX-01
      name: Centro de distribución Vallejo
      quantity: 9

  Availability:
    description: Disponibilidad de un SKU según el inventario del ERP.
    type: object
    properties:
      sku:
        type: string
        pattern: "^MIRAGE-[A-Z0-9-]+$"
        description: SKU del producto en el catálogo de Mirage.
        example: MIRAGE-MS-12K
      capacityBtu:
        type: integer
        description: Capacidad de enfriamiento del equipo, en BTU.
        example: 12000
      available:
        type: boolean
        description: true si hay al menos una unidad en cualquier almacén.
        example: true
      quantity:
        type: integer
        minimum: 0
        description: Suma de existencias en todos los almacenes.
        example: 14
      warehouses:
        type: Warehouse[]
        minItems: 0
        description: Desglose por almacén.
      updatedAt:
        type: datetime
        description: Momento del último corte de inventario en el ERP.
    example:
      sku: MIRAGE-MS-12K
      capacityBtu: 12000
      available: true
      quantity: 14
      warehouses:
        - code: CDMX-01
          name: Centro de distribución Vallejo
          quantity: 9
        - code: MTY-02
          name: Bodega Apodaca
          quantity: 5
      updatedAt: "2026-09-10T18:30:00Z"

  Error:
    description: |
      Formato único de error para todas las APIs de Mirage.
      Candidato natural a convertirse en fragmento reutilizable (módulo 3).
    type: object
    properties:
      code:
        type: string
        description: Código estable, apto para que el consumidor decida sobre él.
        example: SKU_NOT_FOUND
      message:
        type: string
        description: Descripción legible. No apta para lógica de negocio.
        example: No existe el SKU solicitado en el catálogo del ERP.
      timestamp:
        type: datetime
        description: Momento en que se produjo el error.
      traceId:
        type: string
        required: false
        description: Identificador de correlación para rastrear la petición.
    example:
      code: SKU_NOT_FOUND
      message: No existe el SKU solicitado en el catálogo del ERP.
      timestamp: "2026-09-10T18:30:00Z"
      traceId: 7f3a1c9e-4b2d-4e8a-9c1f-2a5b6d8e0f13

#-------------------------------------------------------------------
# Traits: respuestas de error comunes a todas las operaciones
#-------------------------------------------------------------------
traits:
  standard-errors:
    description: Añade las respuestas de error estándar de Mirage.
    responses:
      400:
        description: La petición no cumple el contrato.
        body:
          type: Error
          example:
            code: INVALID_SKU_FORMAT
            message: El SKU debe seguir el patrón MIRAGE-XX-NNN.
            timestamp: "2026-09-10T18:30:00Z"
      500:
        description: Error no controlado, o el ERP no respondió.
        body:
          type: Error
          example:
            code: ERP_UNAVAILABLE
            message: El sistema de inventario no está disponible en este momento.
            timestamp: "2026-09-10T18:30:00Z"

#-------------------------------------------------------------------
# Recursos
#-------------------------------------------------------------------
/products:
  /{sku}:
    uriParameters:
      sku:
        type: string
        pattern: "^MIRAGE-[A-Z0-9-]+$"
        description: SKU del producto en el catálogo de Mirage.
        example: MIRAGE-MS-12K

    /availability:
      get:
        displayName: Consultar disponibilidad
        description: |
          Devuelve las existencias del SKU desglosadas por almacén, según el
          último corte de inventario del ERP.

          No determina si el producto es vendible: eso depende también de la
          cobertura de instalación, que resuelve la Process API.
        is: [ standard-errors ]
        responses:
          200:
            description: Disponibilidad encontrada.
            body:
              type: Availability
          404:
            description: El SKU no existe en el catálogo del ERP.
            body:
              type: Error
              example:
                code: SKU_NOT_FOUND
                message: No existe el SKU solicitado en el catálogo del ERP.
                timestamp: "2026-09-10T18:30:00Z"
